@import url(https://fonts.googleapis.com/css?family=Lato:900,400italic);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  background: #c2185b;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trigger{
  z-index: 100;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.lines{
  position: absolute;
}

.lines .line{
  width: 400px;
  height: 1px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.lines .line .left,
.lines .line .right{
  width: 200px;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s linear;
  transform-origin: 0 50%;
  transform: scaleX(0);
}

.lines .line .right{
  transform-origin: 100% 50%;
}