:root{
    --motion: cubic-bezier(0.1, 1, 0.4, 1);
}

body{
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0,0.1);
    overflow: hidden;
    background: #02ccb4;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: #fbfaf5;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.3);
}

.bottom{
    animation: scaleBottom 2s var(--motion) infinite alternate;
}

@keyframes scaleBottom {
    0%{scale: 0;}
    20%{scale: 0;}
    100%{scale: 1;}
}

.middle{
    width: 75px;
    height: 75px;
    animation: scaleMiddle 2s var(--motion) infinite alternate;    
}

@keyframes scaleMiddle{
    0%{scale: 0;}
    40%{scale: 0;}
    100%{scale: 1;}
}

.top{
    width: 35px;
    height: 35px;
    animation: scaleTop 2s var(--motion) infinite alternate;
}

@keyframes scaleTop{
    0%{scale: 0;}
    60%{scale: 0;}
    100%{scale: 1;}
}