@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);

:root{
  --lightGrey: #e9e9e9;
  --backgroundBlueGrey: #2b3642;
  --darkerBlue: #3d4d5e;
  --facebookBlue: #5da2ed;
  --icongrey: #8398ad;
}

.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: var(--backgroundBlueGrey);
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
}

header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 16%;
  background-color: var(--darkerBlue);
}

header .left-panel{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
}

header .left-panel > *{
  width: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  cursor: pointer;
}

label:hover > span{
  color: white;
}

input:checked + label{
  background-color: var(--facebookBlue);
}

input:checked + label > span{
  color: white;
}

input{
  position: absolute;
  left: -9999px;
}

span{
  color: var(--icongrey);
}

header .right-panel{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined{
  transform: scale(0.7);
}

.content{
  position: absolute;
  left: -9999px;
}

.content.active{
  background-color: white;
  height: 84%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: auto;
}

.content > .heading{
  position: absolute;
  text-align: left;
  width: 80%;
  height: 10%;
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.heading{
  position: absolute;
  text-align: left;
  width: 80%;
  height: 10%;
  margin-bottom: 9%;
  margin-left: 3%;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.article{
  margin: 0;
  height: 33.34%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  margin: 0;
  margin-top: 3%;
  margin-bottom: 5%;
  font-weight: 300;
  font-size: 16px;
}

p{
  margin: 0;
  margin-bottom: 5%;
}

.content > article{
  opacity: 0;
  position: absolute;
  transition: opacity 1s, top 1s;
}

.content.active > article{
  opacity: 1;
  position: relative;
  top: 0%;
}

.redacted{
  display: block;
  background-color: var(--lightGrey);
  height: 4px;
  margin-bottom: 7px;
}

article p:nth-child(2) > .redacted:first-child{
  width: 90%;
}

article p:nth-child(2) > .redacted:nth-child(3){
  width: 85%;
}

article p:nth-child(2) > .redacted:nth-child(3){
  width: 85%;
}

article p:nth-child(2) > .redacted:nth-child(4){
  width: 97%;
}

article p:nth-child(2) > .redacted:nth-child(5){
  width: 35%;
}

article p:nth-child(3) > .redacted:nth-child(2){
  width: 85%;
}

article p:nth-child(3) > .redacted:nth-child(3){
  width: 55%;
}

article p:nth-child(3) > .redacted:nth-child(5){
  width: 95%;
}