@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body{
  background-color: #333;
}

.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background: #2c3e50;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.icosaheder{
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(-40deg);
  transition: all 3s ease-in-out;
  height: 280px;
  width: 160px;
  cursor: pointer;
}

.icosaheder:hover{
  transform: rotateX(-400deg) rotateY(-400deg);
}

.icosaheder:hover .side{
  opacity: 0.5;
}

.side{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 138.56px 80px;
  border-color: transparent transparent #eee transparent;
  transform-origin: 50% 100%;
  transition: all 3s ease-in-out;
}

.side1{
  transform: translateZ(129.2px) rotateZ(90deg) rotateX(159.095deg);
}

.side2{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: translateZ(129.2px) rotateZ(-90deg) rotateX(159.095deg);
}

.side3{
  transform: translateZ(-129.2px) rotateZ(90deg) rotateX(-159.095deg);
}

.side4{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: translateZ(-129.2px) rotateZ(-90deg) rotateX(-159.095deg);
}

.side5{
  transform: rotateY(-90deg) translateZ(129.2px) rotateX(20.905deg)
}

.side6{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: rotateY(-90deg) translateZ(129.2px) rotateX(159.095deg);
}

.side7{
  transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-20.905deg);
}

.side8{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: rotateY(-90deg) translateZ(-129.2px) rotateX(-129.095deg);
}

.side9{
  transform: translateY(129.2px) rotateX(69.095deg);
}

.side10{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: translateY(129.2px) rotateX(-69.095deg);
}

.side11{
  transform: translateY(-129.2px) rotateX(110.905deg);
}

.side12{
  border-color: transparent transparent #e1e1e1 transparent;
  transform: translateY(-129.2px) rotateX(-110.095deg);
}

.side13{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(-129.2px) translateX(80px) rotateX(-135deg) rotateY(-35.264deg) rotateZ(-8deg);
}

.side14{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(-129.2px) translateX(80px) rotateX(135deg) rotateY(35.264deg) rotateZ(-8deg);
}

.side15{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(-129.2px) translateX(-80px) rotateX(-135deg) rotateY(35.264deg) rotateZ(8deg);
}

.side16{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(-129.2px) translateX(-80px) rotateX(135deg) rotateY(-35.264deg) rotateZ(8deg);
}

.side17{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(129.2px) translateX(80px) rotateX(45deg) rotateY(-35.264deg) rotateZ(-8deg);
}

.side18{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(129.2px) translateX(80px) rotateX(-45deg) rotateY(35.264deg) rotateZ(-8deg);
}

.side19{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(129.2px) translateX(-80px) rotateX(45deg) rotateY(35.264deg) rotateZ(8deg);
}

.side20{
  border-color: #fff transparent transparent transparent;
  border-width: 138.56px 80px 0 80px;
  transform: translateY(129.2px) translateX(-80px) rotateX(-45deg) rotateY(-35.264deg) rotateZ(8deg);
}
