*,
*::after,
*::before{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #222;
}

.frame{
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.3);
  background: linear-gradient(
    350deg,
    rgb(116, 73, 181) 45%,
    rgb(21, 2, 75) 100%
  );
  overflow: hidden;
}

[class*="wave"]{
  position: absolute;
  bottom: 0%;
  width: 150%;
  -webkit-animation: wave 6s linear infinite alternate;
  animation: wave 6s linear infinite alternate;
}

[class*="wave"]::after{
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  top: 0%;
  height: 36px;
}

.wave-back{
  height: 150px;
  background-color: #201d49;
  left: -150px;
}

.wave-back::after{
  background: radial-gradient(
    circle at 30px 0px,
    rgb(116, 73, 181) 35px,
    transparent 37px
  );
  background-size: 60px 60px;
  background-repeat: repeat;
}

.wave-middle{
  height: 103px;
  background-color: #4f49b6;
  -webkit-animation-name: wave-middle;
  animation-name: wave-middle;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  z-index: 5;
}

.wave-middle::after{
  background: radial-gradient(
    circle at 30px 0px,
    #201d49 35px,
    transparent 37px
  );
  background-size: 60px 60px;
  background-repeat: repeat;
}

.wave-front{
  height: 70px;
  bottom: -20px;
  background-color: #726dc5;
  left: -172px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  z-index: 10;
}

.wave-front::after{
  background: radial-gradient(
    circle at 30px 0px,
    #4f49b6 35px,
    transparent 37px
  );
  background-size: 60px 60px;
  background-repeat: repeat;
}

@-webkit-keyframes wave{
  from{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(45px, -15px);
  }
  70%{
    transform: translate(112px, 8px);
  }
  to{
    transform: translateX(150px);
  }
}

@keyframes wave{
  from{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(45px, -15px);
  }
  70%{
    transform: translate(112px, 8px);
  }
  to{
    transform: translateX(150px);
  }
}

@-webkit-keyframes wave-middle{
  from{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(-45px, -15px);
  }
  70%{
    transform: translate(-112px, 8px);
  }
  to{
    transform: translateX(-150px);
  }
}

@keyframes wave-middle{
  from{
    transform: translate(0, 0);
  }
  30%{
    transform: translate(-45px, -15px);
  }
  70%{
    transform: translate(-112px, 8px);
  }
  to{
    transform: translateX(-150px);
  }
}